<div class="container-fluid mb-4 ">
  <section class="row mb-4">
    <article class="col-md-6 d-flex flex-column justify-content-center align-items-center">
      <h1>Hi, I'm Peter O'Connor</h1>
      <p class="lead">
        I am a weight lifter, cat owner, bird lover and all around okay
        guy.
      </p>
      <p class="text-center">My daily work revolves around a small website called <a
          href="https://www.stackoverflow.com/">StackOverflow</a>. I'm a Senior Engineer on the Core Services team where
        we provide service based architecture to the Stack platform.</p>
      <p class="text-center">
        I've been developing web applications for the previous 6 years at Carroll County Public Schools.
        While
        here, I've created some of the hardest used apps including our Secured Student Document Portal and
        Elementary Grading System.
      </p>
    </article>
    <aside class="col-md-6 d-flex justify-content-center peter">
      <img class="peterHero" src="assets/MeHero.webp" alt="A picture of myself.">
    </aside>
  </section>
  <section class="row">
    <article class="col-12">
      <h3 class="row justify-content-center">
        My tech expertise includes:
      </h3>
      <dl class="row">
        <dt class="d-flex col-sm-6 justify-content-end align-items-center">DotNet Ecosystem (2+)</dt>
        <dd class="d-flex col-sm-6 justify-content-start">
          <img class="techListItem" src="assets/dotnet-logo.jpg" alt="The Dotnet Foundations Logo.">
        </dd>
        <dt class="d-flex col-sm-6 justify-content-end align-items-center">SQL Server</dt>
        <dd class="d-flex col-sm-6 justify-content-start">
          <img class="techListItem" src="assets/sqlserver.png" alt="MS SQL Server logo">
        </dd>
        <dt class="d-flex col-sm-6 justify-content-end align-items-center">EF Core</dt>
        <dd class="d-flex col-sm-6 justify-content-start">
          <img class="techListItem" src="assets/efcore.png" alt="Entity Framework Core logo">
        </dd>
        <dt class="d-flex col-sm-6 justify-content-end align-items-center">Angular 4+</dt>
        <dd class="d-flex col-sm-6 justify-content-start">
          <img class="techListItem" src="assets/angular_opt.webp" alt="Google's Angular logo">
        </dd>
        <dt class="d-flex col-sm-6 justify-content-end align-items-center">RxJS 6+</dt>
        <dd class="d-flex col-sm-6 justify-content-start">
          <img class="techListItem" src="assets/rxjs-1_opt.webp" alt="RxJS logo">
        </dd>
        <dt class="d-flex col-sm-6 justify-content-end align-items-center">Bootstrap</dt>
        <dd class="d-flex col-sm-6 justify-content-start">
          <img class="techListItem" src="assets/bootstrap-4_opt.webp" alt="Bootstrap logo">
        </dd>
        <dt class="d-flex col-sm-6 justify-content-end align-items-center">Typescript</dt>
        <dd class="d-flex col-sm-6 justify-content-start">
          <img class="techListItem" src="assets/typescript.svg" alt="Typescript logo">
        </dd>
        <dt class="d-flex col-sm-6 justify-content-end align-items-center">Azure Devops</dt>
        <dd class="d-flex col-sm-6 justify-content-start">
          <img class="techListItem" src="assets/azuredevops.png" alt="Bootstrap logo">
        </dd>
      </dl>
    </article>
  </section>
</div>